<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="umutPlak.Properties.Settings.umutPlakConnectionString"
            connectionString="Data Source=DESKTOP-DA8ACP6\SQLEXPRESS;Initial Catalog=umutPlak;Persist Security Info=True;User ID=sa;Password=1221"
            providerName="System.Data.SqlClient" />
        <add name="umutPlak.Properties.Settings.umutPlakConnectionString1"
            connectionString="Data Source=DESKTOP-UDQUKC4\SQLEXPRESS;Initial Catalog=umutPlak;User ID=sa;Password=1221"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>